ion-content {
    --background: transparent;
  }

.title {
  font-size: 15px;
  margin: 0%;
  color: black;
  }

.title-card {
    font-size: 15px;
    margin: 0%;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    }

.left-col {
  background: linear-gradient(360deg, hsla(213, 64%, 59%, 1) 27%, hsla(203, 69%, 59%, 1) 95%);
  padding: 0%;
}