<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            Calendario Pazienti
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-label>Mostra quarti d'ora</ion-label>
          <ion-toggle (ionChange)="changeToggle($event)"></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-chip *ngIf="physio">
            <ion-avatar>
              <img [src]="selectedPhysio.image">
            </ion-avatar>
            <ion-select [(ngModel)]="selectedPhysio" [value]="selectedPhysio" [interfaceOptions]="customPopoverOptions"
              interface="popover" (ionChange)="changeSelectedPhysio()">
              <ion-select-option *ngFor="let item of physio" [value]="item">{{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="heightMax">
    <ion-row class="heightMax">
      <ion-col class="ion-text-center">
        <div class="ion-padding">
          <ion-calendar [(ngModel)]="date" [options]="optionsRange" (click)="onChange()" [type]="type"
            [format]="'YYYY-MM-DD'">
          </ion-calendar>
        </div>
        <h2>Scegli il lettino</h2>
        <ion-segment scrollable (ionChange)="segmentChanged($event)">
          <ion-segment-button value="1">
            <ion-label>Posturale</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>Lettino Chiuso</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3">
            <ion-label>Lettino Aperto</ion-label>
          </ion-segment-button>
          <ion-segment-button value="4">
            <ion-label>Palestra</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col class="ion-text-center">
        <h2>Scegli l'orario</h2>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center" *ngIf="showQuarter === true && hourRange">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" *ngFor="let hour of hourRange">
                    <ion-card class="cardHours" (click)="presentAddBookingModal(hour)">
                      <div class="divHours">
                        <ion-label class="labelHours">
                          {{hour.name}}</ion-label>
                      </div>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col class="ion-text-center" *ngIf="showQuarter === false && hourRange">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" *ngFor="let hour of hourRange | filterQuarter">
                    <ion-card class="cardHours" (click)="presentAddBookingModal(hour)">
                      <div class="divHours">
                        <ion-label class="labelHours">
                          {{hour.name}}</ion-label>
                      </div>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>